.robo{
    width: 200px;
    left: 30px;
}

.cabeçalho{
    display: flex;
    justify-content: center;
    
}

button {
    background-color: #dddddd;
    color: rgb(7, 7, 7);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 1px;
    cursor: pointer;
}
